<!-- Create your form here -->
<h1>Here is a form</h1>

<%= form_for @student do |f| %>
    <h3><%= f.label :first_name %></h3>
    <%= f.text_field :first_name %><br>
    <br>
    <h3><%= f.label :last_name %></h3>
    <%= f.text_field :last_name %><br>
    <br>
    <br>
    <%= f.submit %>
    <br>
    <br>
<% end%>


